body{
	background-image:url("../img/bg.jpg");
	margin:0;
}

#mytable th{
	border:solid 1px #DDDDDD;
}

#mytable tbody td{
    border-bottom: solid 1px gray;
	padding: 15px;
}

tbody tr:hover{
	background-color: #ddd;
}

#mytable thead{

	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}



#mytable thead th{

	padding: 15px;
}

.agregar{
	margin-bottom: 20px;
}

.btn{
	 background: #555;
    background: -moz-linear-gradient(#555,#222);
    background: -webkit-linear-gradient(#555,#222);
    background: -o-linear-gradient(#555,#222);
    background: -ms-linear-gradient(#555,#222);
    background: linear-gradient(#555,#222);
    border-radius: 5px;
	color: #ccc;
	text-decoration: none;
	margin-left: 685px;
	padding: 8px;
}

.btn:hover{
	color:#fff;
}

.box-msg{
	background-color: #D9EDF7;
	padding: 5px;
}

.box-msg p{
	color: #3A87AD;
	font-weight: bold;
}

/*.menu{

}

ul.nav{
	background-color: #161616;
	padding: 0 20px;
	margin: 0;
}

.menu ul li{

	text-transform: uppercase;
	display: inline-block;
	list-style:none;
	padding:15px;
}

ul.nav a:after{
	content: "|";
	color:#fff;
}

.menu ul  a li{
	color:#fff;
	text-decoration: none;
}

.menu ul li:hover{
	background-color: #4B525B;
}*/